@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary */

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */

    --Dark-gray: hsl(0, 0%, 59%);

    /* Typography - name and stats */

    --fs-18: 18px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    font-size: var(--fs-18);
    margin: 0;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 436px;
    background-color: white;
    border-radius: 20px;
}

.card-bg {
    height: 170px;
    width: 100%;
    background-image: url('../images/bg-pattern-card.svg');
    background-size: contain;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profile-img img {
    position: relative;
    top: -50%;
    border-radius: 50%;
    border: 6px solid white;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
    font-family: 700;
    color: var(--Very-dark-desaturated-blue);
}

.profile-name {
    font-size: var(--fs-18);
    font-weight: 700;
}

.profile-name #age {
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    margin-left: 5px;
}

.location {
    font-weight: 400;
    font-size: 17px;
    color: var(--Dark-grayish-blue);
    margin-top: 10px;
}

.line {
    margin: 30px 0;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.4);
}

.stats {
    width: 290px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    font-size: var(--fs-18);
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
}

.text {
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-top: 5px;
}

@media screen and (max-width: 440px) {
    main {
        margin: 0 20px;
    }
}